body {
    padding-bottom: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    padding-bottom: 10px;
}

.profile-icon {
    font-size: 14pt;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.inline-control {
    display: inline-block;
}

.full {
    width: 100%;
    max-width: none;
}

.filter-header {
    cursor: pointer;
}

.filter-header:hover {
    background-color: rgba(0, 0, 0, 0.125);
}

.player-filter {
    text-align: right;
    padding-right: 15px;
    padding-bottom: 5px;
}

.player-filter-label {
    padding: 4px 8px;
}

.trade-player {
    display: inline-block;
}

.trade-player-points {
    float: right;
    display: inline-block;
}

.trade-player-header {
    display: inline-block;
    font-weight: bold;
}

.trade-player-points-header {
    float: right;
    display: inline-block;
    font-weight: bold;
}

.card-row {
    padding: 30px 0px;
}

.league-list {
    width: 100%;
    margin-bottom: 15px;
}

.trade-list {
    width: 100%;
    margin-bottom: 15px;
}

.add-link {
    margin-left: 10px;
}

.league-list-item {
    padding: 10px;
}

.league-list-item-link-container {
    display: inline-block;
    float: right;
}

.edit-control-container {
    vertical-align: middle;
    padding: 10px;
}

.blank-header-cell {
    background-color: white !important;
    color: white !important;
    border: 0px !important;
}

.button-container {
    padding: 0px 15px;
}

.card {
    margin-bottom: 15px;
}

.trade-filters {
    margin-bottom: 15px;
}

.trade-filter-item-default {
    font-style: italic;
    color: #C0C0C0;
}

.trade-filter-item {
    cursor: pointer;
}

/* --- TRADE STYLES --- */
.trade {
    cursor: pointer;
}

.trade .card {
    border-width: 0px;
}

.you-get-header {
    background-color: #b8daff;
    border: 2px solid #004085;
}

.they-get-header {
    background-color: #c3e6cb;
    border: 2px solid #155724;
}

.roster-card {
    min-width: 340px;
}

.roster-card-seperator {
    width: 10px;
}

.trade-body {
    border-right: 2px solid rgba(0, 0, 0, 0.125);
    border-left: 2px solid rgba(0, 0, 0, 0.125);
}

.trade-footer {
    padding-top: 7px;
    text-align: right;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.125);
    background-color: rgba(0, 0, 0, 0.03);
    padding-bottom: 15px;
}

.trade-points {
    display: inline-block;
}

.trade-value {
    color: green;
    display: inline-block;
}

.trade-positive {
    color: green;
    display: inline-block;
    font-size: 12px;
}

.trade-negative {
    color: red;
    display: inline-block;
    font-size: 12px;
}

.trade-positive-player {
    color: green;
}

.trade-negative-player {
    color: red;
}

/* --- TABLE STYLES --- */
.table {
    border-collapse: collapse !important;
}

.table tr:nth-child(even) .fantasy-points {
    background-color: rgba(228, 229, 231, 1);
}

.table tr:nth-child(even) .trade-value-column {
    background-color: rgba(209, 231, 255, 1);
}

/* --- TRADE HOVER STYLES --- */
.trade:hover .card {
    background-color: rgba(0, 0, 0, 0.03);
}

.trade:hover .you-get-header {
    border: 2px solid Highlight;
}

.trade:hover .they-get-header {
    border: 2px solid Highlight;
}

.trade:hover .trade-body {
    border-left: 2px solid Highlight;
    border-right: 2px solid Highlight;
}

.trade:hover .trade-footer {
    border: 2px solid Highlight;
}

/* --- TRADE DETAIL HOVER STYLES --- */

/*.trade-detail:hover .card {
    background-color: white;
}

.trade-detail:hover .you-get-header {
    border: 2px solid #004085;
}

.trade-detail:hover .they-get-header {
    border: 2px solid #155724;
}

.trade-detail:hover .trade-body {
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    border-right: 2px solid rgba(0, 0, 0, 0.125);
}

.trade-detail:hover .trade-footer {
    border: 2px solid rgba(0, 0, 0, 0.125);
}*/

.page-link {
    color: #007bff;
}

.selected-page-link {
    font-weight: bold;
    text-decoration: underline;
    border-width: 2px;
    background-color: #dee2e6;
}

.loading-spinner {
    width: 5rem;
    height: 5rem;
    color: #007bff;
    margin: 20px;
}

.trade-detail-modal {
    width: 1440px;
    max-width: 1440px;
}

.better-player {
    color: green;
}

.worse-player {
    color: red;
}

/* --- DRAFT SETUP STYLES --- */

.hidden {
    display: none;
}

.draft-participant {
    display: flex;
    justify-content: space-between;
}

.draft-participant-choice-container {
    display: flex;
    flex-direction: row;
}

.draft-participant-choice-container:first-child input {
    margin-right: 5px;
}

/* --- DRAFT STYLES --- */

/*.draft-container {
    display: flex;
    flex-direction: row;
}*/

.draft-player-list-container {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
}

.draft-player-list-header {
    background-color: lightgrey;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 5px;
}

.draft-player-list {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 800px;
    overflow-y: scroll;
}

.draft-player-list-player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    border-top: 1px solid grey;
    font-weight: normal;
    font-size: medium;
    border-collapse: collapse;
}

.draft-player-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.draft-player-button {
    display: inline-block;
    color: white;
    background-color: green;
    font-weight: bold;
    font-size: large;
    padding: 0px 2px;
    border-radius: 5px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    cursor: pointer;
}

/*.draft-board-container {
    display: flex;
    flex-direction: row;
    font-size: small;
}

.draft-board-team-container {
    display: flex;
    flex-direction: column;
    width: 125px;
}

.draft-board-team-header {
    background-color: lightgray;
    border: 1px solid grey;
    text-align: center;
}



.drafted-player-container {
    border: 1px solid black;
    height: 66px;
    padding: 2px;
}*/

.draft-board-table {
    font-size: small;
    width: 1600px;
}

.draft-board-table-side-column {
    width: 20px;
}

.draft-board-table-center-column {
    width: 130px;
}

.draft-board-table th {
    background-color: lightgray;
    border: 1px solid grey;
    text-align: center;
    max-width: 110px;
}

.draft-board-team-name {
    margin: 0px 5px;
    overflow: hidden;
}

.draft-board-round {
    background-color: lightgray;
    border: 1px solid grey;
    text-align: center;
    padding: 3px;
}

.draft-board-player-cell {
    border: 1px solid black;
    max-width: 110px;
}

.draft-board-player {
    overflow: hidden;
    margin: 5px;
}

.draft-board-player-name {
    overflow: hidden;
    max-height: 40px;
}

.draft-clock-container {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
}

.draft-clock-container {
    border-color: white;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    width: 800px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.qr-canvas {
    width: 100px;
    height: 100px;
}

.draft-board-header {
    display: flex;
    flex-direction: row;
    width: 1600px;
}

.draft-over-container {
    font-size: 50px;
    color: green;
    font-weight: bold;
}

.draft-in-progress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timer-button {
    width: 50px;
}

.draft-board-header-right {
    display: flex;
}

.draft-board-header-panel {
    display: flex;
    justify-content: flex-end;
}

.draft-board-qr-code {
    width: 450px;
}