body {
    padding-bottom: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    padding-bottom: 10px;
}

.profile-icon {
    font-size: 14pt;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.inline-control {
    display: inline-block;
}

.full {
    width: 100%;
    max-width: none;
}

.player-filter {
    text-align: right;
    padding-right: 15px;
    padding-bottom: 5px;
}

.player-filter-label {
    padding: 4px 8px;
}

.trade-player {
    display: inline-block;
}

.trade-player-points {
    float: right;
    display: inline-block;
}

.card-row {
    padding: 30px 0px;
}

.league-list {
    width: 100%;
    margin-bottom: 15px;
}

.add-link {
    margin-left: 10px;
}

.league-list-item {
    padding: 10px;
}

.league-list-item-link-container {
    display: inline-block;
    float: right;
}

.edit-control-container {
    vertical-align: middle;
    padding: 10px;
}

.blank-header-cell {
    background-color: white !important;
    color: white !important;
    border: 0px !important;
}

.button-container {
    padding: 0px 15px;
}

.card {
    margin-bottom: 15px;
}

.trade-filters {
    margin-bottom: 15px;
}

.trade-filter-item-default {
    font-style: italic;
    color: #C0C0C0;
}

.trade-filter-item {
    cursor: pointer;
}


/* --- TRADE STYLES --- */
.trade {
    cursor: pointer;
}

.trade .card {
    border-width: 0px;
}

.you-get-header {
    background-color: #b8daff;
    border: 2px solid #004085;
}

.they-get-header {
    background-color: #c3e6cb;
    border: 2px solid #155724;
}

.trade-body {
    border-right: 2px solid rgba(0, 0, 0, 0.125);
    border-left: 2px solid rgba(0, 0, 0, 0.125);
}

.trade-footer {
    padding-top: 7px;
    text-align: right;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.125);
    background-color: rgba(0, 0, 0, 0.03);
    padding-bottom: 15px;
}

.trade-points {
    display: inline-block;
}

.trade-value {
    color: green;
    display: inline-block;
}

.trade-positive {
    color: green;
    display: inline-block;
    font-size: 12px;
}

.trade-negative {
    color: red;
    display: inline-block;
    font-size: 12px;
}

.trade-positive-player {
    color: green;
}

.trade-negative-player {
    color: red;
}

/* --- TABLE STYLES --- */
.table {
    border-collapse: collapse !important;
}

.even .fantasy-points {
    background-color: rgba(209, 231, 255, 1);
}

/* --- TRADE HOVER STYLES --- */
.trade:hover .card {
    background-color: rgba(0, 0, 0, 0.03);
}

.trade:hover .you-get-header {
    border: 2px solid Highlight;
}

.trade:hover .they-get-header {
    border: 2px solid Highlight;
}

.trade:hover .trade-body {
    border-left: 2px solid Highlight;
    border-right: 2px solid Highlight;
}

.trade:hover .trade-footer {
    border: 2px solid Highlight;
}

/* --- TRADE DETAIL HOVER STYLES --- */
.trade-detail:hover .card {
    background-color: white;
}

.trade-detail:hover .you-get-header {
    border: 2px solid #004085;
}

.trade-detail:hover .they-get-header {
    border: 2px solid #155724;
}

.trade-detail:hover .trade-body {
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    border-right: 2px solid rgba(0, 0, 0, 0.125);
}

.trade-detail:hover .trade-footer {
    border: 2px solid rgba(0, 0, 0, 0.125);
}