
@{
    ViewBag.Title = "Player Trade Values";
}

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable();

            //$(".passing").hide();
            //$(".rushing").hide();
            $(".receiving").hide();
        });
    </script>

}

<link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />

<h2>Find Trades</h2>

<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="card">
            <div class="card-header">My Team</div>
            <div class="list-group ">
                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                    Leveon Bell (RB, PIT)
                </div>
                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                    Running Back
                </div>
                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                    <span class="trade-filter-item-default">
                        (any player/position)
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">My Team</div>
            <div class="list-group">
                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                    Wide Receiver
                </div>
                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                    <span class="trade-filter-item-default">
                        (any player/position)
                    </span>
                </div>
                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                    <span class="trade-filter-item-default">
                        (any player/position)
                    </span>
                </div>
            </div>
        </div>
        <input type="submit" value="Find Trades" class="btn btn-primary" />
    </div>

    <div class="col-sm-12 col-md-8 col-lg-9">

        @*<div>
            <div class="card">
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-4">Filter 1</div>
                        <div class="col-sm-4">Filter 2</div>
                        <div class="col-sm-4">Filter 3</div>
                    </div>
                </div>
            </div>
        </div>*@

        <div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-footer you-get-footer">
                            You Get
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-footer they-get-footer">
                            They Get
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @for (int i = 0; i <= 2; i++)
    {
        <div class="trade" data-toggle="modal" data-target="#tradeModal">
            <div class="row">
                <div class="col-sm-6">
                    <div class="trade-side">
                        <div class="trade-players">
                            <div>
                                <div class="trade-player">David Johnson (RB, ARI)</div>
                                <div class="trade-player-points">23.54</div>
                            </div>
                            <div>
                                <div class="trade-player">Case Keenum (QB, DEN)</div>
                                <div class="trade-player-points">18.22</div>
                            </div>
                            <div>
                                <div class="trade-player">Mike Evans (WR, TB)</div>
                                <div class="trade-player-points">17.79</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="trade-side">
                        <div class="trade-players">
                            <div>
                                <div class="trade-player">Ezekiel Elliot (RB, DAL)</div>
                                <div class="trade-player-points">16.10</div>
                            </div>
                            <div>
                                <div class="trade-player">Todd Gurley (RB, LAR)</div>
                                <div class="trade-player-points">21.38</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 trade-footer">
                    +9.82 PPG
                </div>
                <div class="col-sm-6 trade-footer">
                    +4.77 PPG
                </div>
            </div>
        </div>
}

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="tradeFilterModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select a Player or Position</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Player</div>
                            <div class="list-group ">
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Case Keenum (QB, DEN)
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Leveon Bell (RB, PIT)
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    David Johnson (RB, ARI)
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Antonio Brown Bell (WR, PIT)
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Mide Evans (WR, TB)
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Delanie Walker (TE, TEN)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Position</div>
                            <div class="list-group ">
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Quarterback
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Running Back
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Wide Receiver
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Tight End
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="tradeModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Trade Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="trade trade-detail">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="trade-side">
                                <div class="trade-players">
                                    <div>
                                        <div class="trade-player">David Johnson (RB, ARI)</div>
                                        <div class="trade-player-points">23.54</div>
                                    </div>
                                    <div>
                                        <div class="trade-player">Case Keenum (QB, DEN)</div>
                                        <div class="trade-player-points">18.22</div>
                                    </div>
                                    <div>
                                        <div class="trade-player">Mike Evans (WR, TB)</div>
                                        <div class="trade-player-points">17.79</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="trade-side">
                                <div class="trade-players">
                                    <div>
                                        <div class="trade-player">Ezekiel Elliot (RB, DAL)</div>
                                        <div class="trade-player-points">16.10</div>
                                    </div>
                                    <div>
                                        <div class="trade-player">Todd Gurley (RB, LAR)</div>
                                        <div class="trade-player-points">21.38</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 trade-footer">
                            +9.82 PPG
                        </div>
                        <div class="col-sm-6 trade-footer">
                            +4.77 PPG
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>