@model fftoolkit.Web.Models.DraftRoomViewModel

@{
    Layout = "~/Views/Shared/_DraftRoomLayout.cshtml";
}

@{
    ViewBag.Title = @Model.Draft.Name;
}

@section scripts {
    <script type="text/javascript">

        jQuery(document).on('click', '#test-draft-player-button', function () {
            document.getElementById('SelectedPlayerId').value = document.getElementById('test-draft-player-id-input').value;
            
            $.ajax({
                type: "POST",
                url: '/Draft/DraftPlayer',
                data: $('#draft-room-form').serialize(),
                dataType: 'html',
                success: function (result) {
                    console.log('Player successfully drafted!');
                    $('#draft-board-container').html(result);
                    $("#warning-message").delay(3000).fadeOut("slow");
                    $("#success-message").delay(3000).fadeOut("slow");
                },
                error: function (xhr, status, error) {
                    console.log("There was an error drafting a player.");
                    console.log(status);
                    console.log(error);
                }
            });
        });

    </script>
}

<form id="draft-room-form">
    @*<input type="text" id="test-draft-player-id-input" />
    <input type="button" value="Test Draft" id="test-draft-player-button" />*@
    
    <div class="draft-container row">
        <div id="draft-board-container" class="draft-board-container col-sm-12">
            @Html.Partial("_DraftBoard", Model)
        </div>
    </div>
</form>