@model fftoolkit.Web.Models.DraftRoomViewModel

@{
    Layout = "~/Views/Shared/_DraftRoomLayout.cshtml";
}

@{
    ViewBag.Title = @Model.Draft.Name;
}

@section scripts {
    <script type="text/javascript">

        jQuery(document).on('click', '#add-remote-drafter', function () {
            $.ajax({
                type: "POST",
                url: '/Draft/DraftPlayer',
                data: $('#edit-draft-form').serialize(),
                dataType: 'html',
                success: function (result) {
                    console.log('Player successfully drafted!');
                    $('#draft-invite-participant-container').html(result);
                    HideLoadingModal();
                },
                error: function (xhr, status, error) {
                    console.log("There was an error adding a local drafter!")
                    console.log(status);
                    console.log(error);
                    HideLoadingModal();
                }
            });
        });

    </script>
}

@using (Html.BeginForm("Edit", "Draft", FormMethod.Post, new { @id = "draft-room-form" }))
{
    <div class="draft-container row">
        <div id="draft-board-container" class="draft-board-container col-sm-12">
            @Html.Partial("_DraftBoard", Model)
        </div>
    </div>
}