
@{
    ViewBag.Title = "Admin Tools";
}

<h2>Admin Tools</h2>

<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-header">Admin Tools</div>
            <div class="card-body">
                <div class="row">
                    @Html.ActionLink("Update Players", "UpdatePlayers", null, new { @class = "" })
                </div>
                <div class="row">
                    @Html.ActionLink("Map Teams", "UpdatePlayers", null, new { @class = "" })
                </div>
            </div>
        </div>
    </div>
</div>