@model IEnumerable<fftoolkit.DB.Model.League>

@{
    ViewBag.Title = "Map Teams";
}

<h2>Map Teams</h2>

<hr />

@if (Model != null && Model.Count() > 0)
{
    <div class="league-list list-group">
        @foreach (var league in Model)
        {
            <div class="league-list-item list-group-item">
                <b>@league.Name</b>

                <div class="league-list-item-link-container">
                    <a href="CreateTeamMappingForLeague/@league.LeagueId">[map teams]</a>
                </div>
            </div>
        }
    </div>
}