@model IEnumerable<fftoolkit.DB.Model.League>

@{
    /**/

    ViewBag.Title = "Manage Your Leagues";
}

<h2>Manage Your Leagues</h2>

<hr />

@if (Model != null && Model.Count() > 0)
{
    <div class="league-list list-group">
        @foreach (var league in Model)
        {
            <div class="league-list-item list-group-item">
                <b>@league.Name</b> [@league.Host]

                <div class="league-list-item-link-container">
                    <a href="League/Edit/@league.LeagueId">[edit]</a>
                    <a href="League/Delete/@league.LeagueId">[delete]</a>
                </div>
            </div>
        }
    </div>

    <hr />
}

<div>
    @Html.ActionLink("[+ Add New League]", "Add")
</div>