body {
    padding-bottom: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    padding-bottom: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.inline-control {
    display: inline-block;
}

.full {
    width: 100%;
    max-width: none;
}

.trade-player {
    display: inline-block;
}

.trade-player-points {
    float: right;
    display: inline-block;
}

.card-row {
    padding: 30px 0px;
}

.league-list {
    width: 100%;
}

.league-list-item {
    padding: 10px;
}

.league-list-item-link-container {
    display: inline-block;
    float: right;
}

.edit-control-container {
    vertical-align: middle;
    padding: 10px;
}

.blank-header-cell {
    background-color: white !important;
    color: white !important;
    border: 0px !important;
}

.card {
    margin-bottom: 15px;
}

.trade-filter-item-default {
    font-style: italic;
    color: #C0C0C0;
}

.trade-filter-item {
    cursor: pointer;
}

.trade {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 15px;
    padding: 0 15px;
    padding-top: 15px;
}

.trade-detail {
    cursor: auto;
}

.trade:hover {
    border: 2px solid Highlight;
    background-color: rgba(0, 0, 0, 0.03);
}

.trade-detail:hover {
    border: 2px solid rgba(0, 0, 0, 0.125);
    background-color: white;
}

.trade-side {
    display: flex;
    flex-direction: column;
}

.trade-side {
    height: 100%;
    padding-bottom: 8px;
}

.trade-players {
    flex-grow: 1;
}

.trade-player {
    
}

.trade-footer {
    padding-top: 7px;
    text-align: right;
    color: green;
    font-weight: bold;
    border-top: 2px solid rgba(0, 0, 0, 0.125);
    background-color: rgba(0, 0, 0, 0.03);
    padding-bottom: 15px;
}

.trade-value {
    
}

.you-get-footer {
    background-color: #b8daff;
    border: 2px solid #004085;
}

.they-get-footer {
    background-color: #c3e6cb;
    border: 2px solid #155724;
    border-radius: 0.25rem;
}