@model fftoolkit.Logic.Classes.TradeSide

<div class="card trade-card">
    <div class="card-header you-get-header">
        @Model.TeamName Gets
    </div>
    <div class="card-body trade-body">
        <div>
            <div class="trade-player-header">Player</div>
            <div class="trade-player-points-header">
                Points (Value)
            </div>
        </div>

        @foreach (var player in Model.NewPlayers)
        {
            @Html.DisplayFor(p => player, "TradePlayer")
        }

        @for (int j = Model.NewPlayers.Count; j < Model.MaxPlayerCount; j++)
        {
            @Html.Display("EmptyPlayer", "EmptyPlayer")
        }
    </div>
    <div class="card-footer trade-footer">
        <div class="trade-value">
            +@Html.DisplayFor(t => Model.Difference) PPG (@Html.DisplayFor(t => Model.TradeValue))
        </div>
    </div>
</div>