@model IEnumerable<fftoolkit.Logic.Classes.Team>

@if (Model == null)
{
    <div class="col-md-12">No teams found.</div>
}
else
{
    <div class="col-md-12">
        <div class="card">
            <div class="list-group">
                @foreach (var team in Model)
                {
                    <div class="list-group-item list-group-item-action trade-filter-item team-selector-team"
                         data-team-id="@team.TeamId" data-team-name="@team.Name">
                        @team.Name
                    </div>
                }
            </div>
        </div>
    </div>
}