@{
    ViewBag.Title = "Fantasy Football Tool Kit";
}

<div class="row card-row">
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <div class="card-header">Trades</div>
            <div class="card-body">
                <p class="card-text">Find trades with other teams in your league.</p>
                <a href="#" class="btn btn-primary">FIND TRADES</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <div class="card-header">Player Trade Values</div>
            <div class="card-body">
                <p class="card-text">View trade values for players in your league according to your league's scoring settings.</p>
                <a href="#" class="btn btn-primary">PLAYER TRADE VALUES</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <div class="card-header">Optimize Your Lineup</div>
            <div class="card-body">
                <p class="card-text">View an optimized lineup for your team.</p>
                <a href="#" class="btn btn-primary">OPTIMIZE YOUR LINEUP</a>
            </div>
        </div>
    </div>
</div>