@model IEnumerable<fftoolkit.DB.Model.League>

@{
    ViewBag.Title = "Player Trade Values";
}

<h2>Player Trade Values</h2>

<hr />

@if (Model != null && Model.Count() > 0)
{
    <div class="league-list list-group">
        @foreach (var league in Model)
        {
            <div class="league-list-item list-group-item">
                <b>@league.Name</b> [@league.Host]

                <div class="league-list-item-link-container">
                    <a href="Player/League/@league.LeagueId">[view]</a>
                </div>
            </div>
        }
    </div>
}